.vp-grid-box {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 30px calc(100% - 30px);
}
.vp-for-sub-box {
    display: grid;
    grid-template-columns: max-content;
    margin-left: 35px;
}
.vp-for-sub-header {
    display: flex;
    justify-content: space-around;
    height: 25px;
    line-height: 25px;
}